@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
