@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2d2b2d;
  --gray: #b3b3b3;
  --purple: #6a3d96;
  --background: #f5f6f1;
  --gray-text: #c3c3c0;
}

body {
  overflow: visible !important;
  font-family: 'Bitter', sans-serif;
  font-size: 400;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--primary);
}

.bitter {
  font-family: 'Bitter', sans-serif;
}

.cormorantSC {
  font-family: 'Cormorant SC', sans-serif;
}

input {
  &:focus {
    outline: none;
  }
}

.swiper-pagination {
  padding: 0px 52px !important;
  display: flex;
  justify-content: space-between;
  gap: 6.5px;
  margin-bottom: 10px !important;
}
.swiper-pagination-bullet {
  width: 100% !important;
  border-radius: 3.25px !important;
  height: 3.25px !important;
  transition: all 0.2s;
  background-color: #d9d9d9 !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--purple) !important;
  opacity: 1 !important;
  min-width: 35px !important;
}
